<!--
<h1>Task list</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to(task.name, task_path(task)) %> <%= task.details %>
      <%= link_to 'delete', task_path(task.id), method: :delete %>
      <%= link_to 'update', edit_task_path(task.id)%>
    </li>
  <% end %>
</ul>

<%= link_to "new task", new_task_path %> -->

<div class="container ">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 box-shadow">
      <h1 class = "text-center">Tasks list</h1>
      <ul class = "list-unstyled">
      <% @tasks.each do |task| %>
        <li>
          <%= link_to task.name.capitalize, task_path(task.id) %>, Description : <i><%= task.details %></i> -
          <%=  link_to 'Delete a task', task_path(task.id), method: :delete %> ou
          <%=  link_to 'Update a task', edit_task_path(task.id) %>
        </li>
      <% end %>
      </ul>
      <%= link_to "new task", new_task_path, class: "btn btn-primary btn-large btn-block "%>
    </div>
  </div>
</div>
